* {
    box-sizing: border-box;
}

@keyframes grow {
    0% {
        width: 45px;
        /* height: 45px; */
        max-height: 0;
    }
    /* 50% {
        width: 140px;
        height: 107px;
    } */
    100% {
        width: 280px;
        max-height: 214px;
        overflow: auto;
    }
}

@keyframes shrink {
    0% {
        width: 280px;
        max-height: 214px;
    }
    100% {
        width: 45px;
        max-height: 40px;
    }
}
